@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar styling */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #121315; /* dark-950 */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #27292d; /* dark-900 */
  border-radius: 4px;
  border: 2px solid #121315; /* dark-950 */
}

::-webkit-scrollbar-thumb:hover {
  background: #3e4145; /* dark-800 */
}

/* Firefox scrollbar */
* {
  scrollbar-width: thin;
  scrollbar-color: #27292d #121315; /* thumb and track color */
}
